<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="static\css\style.css">
</head>
<body>
    <img id="listing_logo" class="ms-5 mt-3" src="static\img\listing_logo.png" alt="listing logo">
    <div class="headerBar">
    <h1 class=" text-center mt-2 welcome_text">Welcome back</h1>
    </div>
    <main class="">
        <form action="/user/login" class="d-flex flex-column p-4 gap-1 text-light align-items-center" method="POST">
            {% for message in get_flashed_messages(category_filter=["log"]) %}
            <p class="m-2 fs-4">{{message}}</p>
            {% endfor %}
            <label for="email">Email:</label>
            <input class="p-1" type="text" name="email" id="email" placeholder="email">
            <label for="password">Password:</label>
            <input class="p-1" type="password" name="password" id="password" placeholder="password">
            <div class="d-flex align-items-center gap-4">
                <button class="btn btn-outline mt-3 btn_login">sign in</button>
                <a class="btn mt-3 btn_signUp" href="/sign_up">Sign Up</a>
            </div>
        </form>
    </main>
</body>
</html>